<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>About Me</h1>
    <p>Welcome to the my About page. I am a student who values innovation, creativity, and customer satisfaction. My
        mission is to provide exceptional services to my future clients and make a positive impact in the industry.</p>

    <p>I am someone who consists of talents & dedication to delivering the best results in their respective fields.
        Whether you're looking for web development, digital marketing, or other creative solutions, we are here to help.
    </p>

    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
    </nav>
</body>

</html>