<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Contact Us</h1>
    <p>If you have any questions or inquiries, please don't hesitate to reach out me. I'm here to assist you!</p>

    <h2>Get in Touch</h2>
    <p>Feel free to contact me through any of the methods below:</p>

    <ul>
        <li>Email: <a href="midcorpuz@tip.edu.ph">midcorpuz@tip.edu.ph"</a></li>
        <li>Phone: 09507439841/li>
        <li>Address: 25 D Blk A Quezon City S.F.D.M.</li>
    </ul>

    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
    </nav>
</body>

</html>